:root {
  --azul-principal: #0635c9;
  --azul-secundario: #072483;
  --cor-branca: #fff;
  --hover-link: #d8d8d8;
  --card-aviso: rgba(0, 0, 0, 0.8);
  --azul-focus: rgba(55, 101, 255, 0.05);
  --sombra-btn-primario: 0 10px 20px rgba(6, 53, 201, .3)
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif
}

a {
  text-decoration: none
}

ul {
  list-style: none
}

img {
  width: 100%;
  display: block
}

label {
  color: #000 !important
}

.titulo-h3:after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--hover-link);
  display: block;
  margin: 20px auto
}

.focus-erro {
  border: 1px solid #ff0953 !important;
  background: rgba(255, 34, 100, .1) !important
}

.modal-erro,
.modal-sucesso {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #ff0c35;
  background: rgba(255, 12, 52, .1);
  color: #ff0c35;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
  animation: showErro 5s forwards;
  opacity: 0
}

.modal-sucesso {
  border: 1px solid #28d5a7;
  color: #28d5a7;
  background: #e9fbf6
}

@keyframes showErro {
  from {
    transform: translate3d(0, -30px, 0)
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  65% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  75% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  85% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  to {
    opacity: 0;
    transform: translate3d(0, -30px, 0)
  }
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 10px
}

.btn-principal {
  background: var(--azul-principal);
  color: var(--cor-branca);
  border: none;
  font-weight: 700;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  transition: .5s ease
}

.btn-principal:hover {
  box-shadow: var(--sombra-btn-primario);
  transform: translate3d(0, -5px, 0)
}


.btn-endereco {
  margin: 20px 0
}

.btn-endereco a {
  padding: 10px !important;
  color: #28d5a7;
  background: rgba(40, 213, 167, .1);
  font-weight: 600;
  text-transform: uppercase;
  border: none
}

.btn-endereco a:hover {
  background: #28d5a7;
  color: #e9fbf6;
  box-shadow: none
}

.btn-editar,
.btn-endereco a,
.btn-remover,
.btn-visualizar {
  padding: 8px;
  border-radius: 3px;
  transition: .5s ease;
  font-size: .775rem;
  font-weight: 600;
  text-transform: uppercase
}

.btn-visualizar {
  color: #28d5a7;
  background: rgba(40, 213, 167, .1)
}

.btn-visualizar:hover {
  border-color: #28d5a7;
  background: #28d5a7;
  color: #fff
}

.btn-editar {
  color: #6321ce;
  background: rgba(99, 33, 206, .1)
}

.btn-editar:hover {
  background: #6321ce;
  color: #fff
}

.btn-remover {
  color: #ff0c35;
  background: rgba(255, 12, 52, .1)
}

.btn-remover:hover {
  background: #ff0c35;
  color: #fff
}

.mostraForca {
  margin-top: -15px;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: silver;
  display: block
}

.mostraForca.forte {
  width: 41%;
  background: #28d5a7
}

.mostraForca.fraca {
  width: 21%;
  background: #ff0c35
}

.select-item {
  margin: 10px 0 30px 0
}

.endereco-metade {
  width: 400px !important;
  margin-right: 30px !important
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: gray
}

[data-anime] {
  opacity: 0;
  transition: .7s ease;
  transition-delay: .2s
}

[data-anime]:nth-child(odd) {
  transition-delay: .5s
}

[data-anime=left] {
  transform: translate3d(-50px, 0, 0)
}

[data-anime=right] {
  transform: translate3d(50px, 0, 0)
}

[data-anime=top] {
  transform: translate3d(0, -50px, 0)
}

[data-anime=bottom] {
  transform: translate3d(0, 50px, 0)
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


.label-reset {
  display: inline !important
}

.upload {
  margin-left: -35px
}

.processo {
  justify-content: flex-start !important
}

.btn-senha {
  margin-top: 20px
}

.table-container {
  margin: 40px auto
}

.table {
  width: 100%;
  border-collapse: collapse
}

td,
th {
  padding: 20px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 1rem
}

tr {
  transition: .3s ease;
  font-weight: 700
}

tr:hover {
  transform: translate3d(-3px, 0, 0)
}

.theader {
  color: var(--azul-principal)
}

.theader:hover {
  background: 0 0;
  transform: none
}

.acoes {
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.acoes a+a {
  margin-left: 10px
}

select {
  width: 30%;
  padding: 15px;
  margin: 10px auto 20px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid var(--hover-link);
  border-radius: 3px
}

select.total {
  width: 60%
}

select.metade {
  width: 250px
}

select:focus {
  border: 1px solid var(--azul-principal);
  outline: 0;
  background: var(--azul-focus)
}

[data-endereco=conteudo] {
  display: none
}

[data-endereco=conteudo].visible {
  display: block
}

.modal-info {
  display: none;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999
}

.modal-info.mostrar {
  display: flex
}

.modal-container {
  margin-top: 60px;
  width: 450px;
  padding: 30px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  animation: showModal .3s forwards
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.fecha-modal {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  border: none;
  background: 0 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: gray;
  outline: 0
}

.fecha-modal:hover {
  color: #000
}

.modal-title .info-delete .icone {
  color: #ff0c35;
  font-size: 2rem;
  margin-right: 10px
}

.modal-title .info-delete {
  color: #ff0c35;
  font-size: 1.2rem
}

.modal-body {
  padding: 30px 0;
  margin: 30px auto;
  border-top: 1px solid rgba(192, 192, 192, .3);
  border-bottom: 1px solid rgba(192, 192, 192, .3)
}

.modal-body p {
  font-size: 1.1rem;
  color: #000
}

.modal-footer {
  display: flex;
  justify-content: flex-end
}

.modal-footer button {
  padding: 12px;
  margin-left: 10px
}

.modal-footer .btn-cancelar {
  background: 0 0;
  color: #000;
  outline: 0
}

.modal-footer .btn-cancelar:hover {
  box-shadow: none;
  transform: none;
  color: gray
}

.modal-footer .btn-confirma-delete {
  background: #ff0c35
}

.modal-footer .btn-confirma-delete:hover {
  box-shadow: 0 10px 20px rgba(255, 12, 53, .2)
}

.nProcesso.metade {
  width: 450px !important
}

.opcional {
  color: silver;
  font-style: italic;
  font-size: 1rem
}

.breadcrumb-container {
  padding: 20px 0;
  margin: 10px 0;
}

.breadcrumb-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

.breadcrumb-links li {
  font-size: 1rem
}

.breadcrumb-links li+li::before {
  content: '/';
  margin: 0 15px;
  color: var(--hover-link)
}

.breadcrumb-links a {
  color: var(--azul-principal)
}

.breadcrumb-links a:hover {
  text-decoration: underline
}

.breadcrumb-links .breadcrumb-item.ativo {
  color: var(--hover-link)
}

.regra-senha {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  margin-bottom: 20px
}

.regra-senha li {
  width: 100%
}

.regra-senha li span {
  display: block;
  margin-bottom: 10px;
  font-size: .875rem;
  display: flex;
  align-items: center
}

.regra-senha li span::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--azul-principal);
  display: inline-block;
  margin-right: 20px
}

.visualizacao-dados.item-cadastro h2 {
  margin-top: 40px
}

.visualizacao-dados li {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 3px
}

.visualizacao-dados li:nth-child(odd) {
  background: #ececec
}

.gerar-pdf {
  text-align: right
}

.btn-cadastro.btn-responsavel {
  margin-bottom: 40px
}

[data-responsavel].ativo {
  display: inline-block !important
}

[data-responsavel] {
  display: none !important
}

.body-login {
  overflow: hidden;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh
}

.login-container {
  height: 120vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: relative
}

.login-container .left h1 {
  color: var(--cor-branca);
  font-size: 2.5rem
}

.login-container .primeiro-acesso {
  position: absolute;
  top: 120px;
  color: var(--cor-branca);
  font-weight: 700;
  font-size: 1.1rem
}

.login-container .primeiro-acesso:hover {
  color: var(--hover-link)
}

.mensagem-cadastro {
  background: var(--card-aviso);
  padding: 20px;
  width: 300px;
  border-radius: 3px;
  position: absolute;
  top: 160px;
  display: none;
  animation: slowDown .5s
}

.mensagem-cadastro p {
  font-size: .875rem;
  color: var(--cor-branca);
  line-height: 1.4rem
}

.mensagem-cadastro.ativo {
  display: block
}

@keyframes slowDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.login-container .esqueceu-senha {
  text-align: right;
  width: 100%;
  color: var(--azul-principal);
  font-weight: 700;
  margin: 5px 25px
}

.login-container .esqueceu-senha:hover {
  color: var(--card-aviso)
}

.login-container .right {
  margin-left: 100px
}

.login-container .right h1 {
  font-size: 2.5rem;
  color: var(--azul-principal);
  text-align: center;
  width: 100%
}

.login-container .right form {
  display: flex;
  flex-direction: column;
  height: 60vh
}

.login-container .right form label {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.1rem
}

.login-container .right form input {
  width: 99%;
  padding: 15px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  background: 0 0;
  border: 1px solid var(--hover-link);
  border-radius: 3px
}

.login-container .right form input:focus {
  border: 1px solid var(--azul-principal);
  outline: 0;
  background: var(--azul-focus)
}

.login-container .right form button {
  width: 40%
}

.body-esqueceu {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff
}

.esqueceu-senha {
  margin: 0 auto;
  max-width: 400px
}

.esqueceu-senha h1 {
  font-size: 2.25rem;
  color: var(--azul-principal)
}

.esqueceu-senha p {
  margin: 10px 0;
  font-weight: 700;
  color: var(--card-aviso)
}

.esqueceu-senha form {
  display: flex;
  flex-direction: column
}

.esqueceu-senha form label {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.1rem
}

.esqueceu-senha form input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 700;
  background: 0 0;
  border: 1px solid var(--hover-link);
  border-radius: 3px
}

.esqueceu-senha form input:focus {
  border: 1px solid var(--azul-principal);
  outline: 0;
  background: var(--azul-focus)
}

.esqueceu-senha form button {
  width: 50%
}

.link-retorno {
  text-align: right;
  width: 100%;
  color: var(--azul-principal);
  font-weight: 700;
  margin: 10px 25px
}

.link-retorno:hover {
  color: var(--card-aviso)
}

.container-geral {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr
}

.item {
  width: 100%;
  height: 100vh
}

.menu-lateral {
  background: var(--azul-principal);
  margin: 0 auto;
  width: 280px;
  top: 0;
  left: 0;
  position: fixed
}

.menu-lateral img {
  width: 60px;
  margin: 40px auto
}

.menu-lateral .lista-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.lista-menu ul {
  width: 220px
}

.lista-menu a:hover {
  background: var(--azul-secundario)
}

.lista-menu li a {
  background: rgba(255, 255, 255, .2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400
}

.lista-menu svg {
  margin-right: 45px
}

svg {
  width: 20px;
  height: 20px
}

.usuario {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.usuario ul {
  width: 220px
}

.usuario li a {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--cor-branca);
  font-weight: 700
}

.usuario li a:hover {
  color: var(--azul-secundario)
}

.dashboard {
  width: 960px;
  margin-left: 350px
}

.dash-container {
  width: 100%;
  margin: 60px auto
}

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}

.dash-header input {
  width: 420px;
  height: 40px;
  padding: 10px 30px;
  border-radius: 3px;
  border: 1px solid var(--hover-link);
  font-size: 1.2rem;
  letter-spacing: 2px
}

.dash-header input::placeholder {
  color: var(--hover-link);
  font-size: 1rem
}

.dash-header input:focus {
  border: 1px solid var(--azul-principal);
  outline: 0;
  background: var(--azul-focus)
}

.dash-header a {
  padding: 20px 50px
}

.bem-vindo {
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 1px
}

.resumo-dashboard {
  margin: 40px auto
}

.resumo-dashboard .resumo-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center
}

.resumo-container .resumo-item,
.total-prazos .resumo-item {
  display: grid;
  grid-template-columns: 1fr 3fr 40px;
  gap: 25px;
  position: relative;
  transition: .3s ease
}

.resumo-container .resumo-item:hover,
.total-prazos .resumo-item:hover {
  transform: translate3d(0, -5px, 0)
}

.resumo-item .icone-dash,
.vencendo-prazo .alerta-dash .alerta-hora {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center
}

.resumo-dashboard .resumo-container .resumo-item {
  border-right: 1px solid #ddd
}

.resumo-dashboard .resumo-container .resumo-item:nth-child(3) {
  border: none
}

.resumo-dashboard .resumo-container .resumo-item:nth-child(1) .icone-dash,
.vencendo-prazo .alerta-dash .alerta-hora.vence-hoje {
  background: rgba(255, 12, 52, .1);
  color: #ff0c35
}

.resumo-dashboard .resumo-container .resumo-item:nth-child(2) .icone-dash,
.vencendo-prazo .alerta-dash .alerta-hora.proximos-dias {
  background: rgba(99, 33, 206, .1);
  color: #6321ce
}

.resumo-dashboard .resumo-container .resumo-item:nth-child(3) .icone-dash,
.vencendo-prazo .alerta-dash .alerta-hora.proximas-semanas {
  background: rgba(40, 213, 167, .1);
  color: #28d5a7
}

.resumo-item .icone-dash svg {
  width: 35px;
  height: 35px
}

.resumo-item .resumo-info h4 {
  font-size: 2.15rem;
  font-weight: 600
}

.resumo-item .resumo-info span {
  color: #bbb
}

.resumo-item .resumo-info small {
  color: #bbb
}

.detalhes-dash {
  display: grid;
  grid-template-columns: 1fr 220px 1fr;
  align-items: center;
  gap: 40px;
  max-height: 60vh;
  overflow: hidden
}

.vencendo-prazo {
  height: 350px;
  overflow-y: scroll;
  padding-right: 10px
}

.vencendo-prazo::-webkit-scrollbar {
  width: 18px
}

.vencendo-prazo::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-left: 8px solid #fff;
  border-right: 8px solid #fff
}

.vencendo-prazo::-webkit-scrollbar-track {
  background: #fff
}

.vencendo-prazo h3 {
  display: flex;
  justify-content: space-between
}

.vencendo-prazo h3 svg {
  animation: scroll .5s alternate infinite
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0)
  }

  to {
    transform: translate3d(0, 3px, 0)
  }
}

.vencendo-prazo .alerta-dash {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 20px 0;
  transition: .5s ease
}

.vencendo-prazo .alerta-dash:hover {
  transform: translate3d(-2px, 0, 0)
}

.vencendo-prazo .alerta-dash+.alerta-dash {
  border-top: 1px solid #f2f2f2
}

.vencendo-prazo .alerta-dash .alerta-hora {
  font-weight: 600
}

.vencendo-prazo .alerta-dash .alerta-infos p {
  font-weight: 600;
  font-size: .975rem;
  color: #000;
  margin-bottom: 5px
}

.vencendo-prazo .alerta-dash .alerta-infos span {
  font-weight: 600;
  font-size: .875rem;
  color: #bbb
}

.vencendo-prazo .alerta-dash .alerta-infos .data-alerta {
  font-size: .875rem;
  font-weight: 400
}

.total-prazos .resumo-item .icone-dash {
  background: var(--azul-focus);
  color: var(--azul-principal)
}

.total-prazos .resumo-item .mais-prazos svg {
  color: #bbb
}

.total-prazos .resumo-item .mais-prazos svg:hover {
  color: var(--azul-principal)
}

.data-hoje {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  transition: .5s ease
}

.data-hoje:hover {
  letter-spacing: 1px
}

.painel-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative
}

.titulo h1 {
  font-size: 2.5rem;
  margin-top: -60px;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  margin: 0 auto
}

.botoes a {
  width: 130px;
  height: 130px;
  display: flex;
  margin: 0 auto;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem
}

.painel-container a svg {
  width: 40px;
  height: 40px;
  margin-bottom: 20px
}

.chamada-dashboard {
  position: absolute;
  top: 40px;
  right: 0;
  color: var(--azul-principal);
  display: flex;
  font-weight: 700
}

.chamada-dashboard:hover {
  text-decoration: underline
}

.chamada-dashboard svg {
  width: 20px !important;
  height: 20px !important;
  margin-left: 15px;
  animation: arrowAnime .5s alternate infinite;
  opacity: 1
}

@keyframes arrowAnime {
  to {
    transform: translate3d(-10px, 0, 0)
  }
}

.dash-container {
  overflow: hidden
}

.cadastro h1 {
  color: var(--azul-principal)
}

.cadastro h1::before {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background: var(--azul-principal);
  border-radius: 3px;
  margin: 5px 0
}

.item-cadastro h2 {
  margin-top: 20px
}

.item-cadastro h2::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--hover-link);
  display: block;
  margin: 20px auto
}

.item-cadastro label {
  display: block;
  font-weight: 400;
  font-size: 1.1rem
}

.item-cadastro input,
.item-cadastro textarea {
  width: 30%;
  padding: 15px;
  margin: 10px auto 20px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid var(--hover-link);
  border-radius: 3px
}

.item-cadastro input.total {
  width: 60%
}

.item-cadastro input.metade {
  width: 80%;
  margin-right: 60px
}

.item-cadastro input:focus,
.item-cadastro textarea:focus {
  border: 1px solid var(--azul-principal);
  outline: 0;
  background: var(--azul-focus)
}

.item-cadastro input::placeholder {
  font-weight: 400
}

.cadastro-flex {
  display: flex
}

.btn-cadastro {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right
}

.btn-cadastro button {
  width: 150px
}

.select-item {
  margin-right: 20px
}

.historicoProcesso {
  width: 520px !important;
  height: 20vh;
  line-height: 1.7rem;
  font-weight: 400 !important
}

.select-flex {
  justify-content: flex-start
}

.estado-civil,
.sexo {
  width: 30%;
  padding: 15px;
  margin: 10px auto 20px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid var(--hover-link);
  border-radius: 3px
}

.estado-civil.total,
.sexo.total {
  width: 60%
}

.select-item {
  margin-right: 40px
}

.estado-civil.metade,
.sexo.metade {
  width: 250px
}

.estado-civil:focus,
.sexo:focus {
  border: 1px solid var(--azul-principal);
  outline: 0;
  background: var(--azul-focus)
}

.telefone-assistido {
  width: 250px
}

.upload-flex {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.item-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  width: 100%;
  height: 70vh;
  margin: 20px 0
}

.item-upload p {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: #2b2a2a
}

.campo-upload {
  border: 2px dashed var(--azul-principal);
  background: var(--azul-focus);
  border-radius: 3px;
  padding: 30px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer
}

.campo-upload input {
  position: absolute;
  top: -10px;
  left: 0;
  width: 93%;
  height: 93%;
  opacity: 0;
  z-index: 9999;
  cursor: pointer
}

.campo-upload img {
  width: 110px;
  margin-bottom: 30px
}

.lista-upload {
  padding: 20px;
  overflow-y: auto;
  max-height: 400px;
  position: relative
}

[data-upload=lista] li {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #666;
  display: flex;
  align-items: center
}

.quantidade-arquivos {
  color: var(--azul-principal);
  font-size: .875rem;
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 12px;
  display: none
}

.quantidade-arquivos.ativo {
  display: inline-block
}

.dados-assistido-download {
  display: flex;
  align-items: center
}

.dados-assistido-download h2 {
  color: var(--azul-principal);
  max-width: 80%;
  margin: 40px 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
  letter-spacing: .5px
}

.assistido-downloads::before {
  content: '';
  width: 4px;
  height: 30px;
  border-radius: 3px;
  display: inline-block;
  background: var(--azul-principal);
  margin-right: 20px
}

.cpf-downloads {
  border-left: 1px solid silver;
  padding-left: 20px
}

.acao-download a {
  color: var(--azul-principal);
  font-weight: 700
}

.acao-download a:hover {
  text-decoration: underline
}

.historico-processo {
  grid-column: 1 /-1;
}



























/* RESPONSIVO */

/*Estilo para tablets*/
/* Tablet */

@media only screen and (max-width:1200px) {
  * {
    box-sizing: border-box;
  }

  /* Painel novo */
  .container-geral {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "menu-lateral"
      "dashboard"
    ;
  }

  .item {
    max-width: 100%;
    height: auto;
  }

  .menu-lateral {
    grid-area: menu-lateral;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 999;
    padding: 33px 20px;
    overflow-x: auto;
  }

  .menu-lateral::after {
    content: '';
    z-index: 9999;
    color: white;
    display: block;
    top: 5px;
    right: 45px;
    position: absolute;
    animation: arraste .7s alternate infinite;
    width: 30px;
    height: 20px;
    background: url(../svg/seta-menu.svg) no-repeat center center;
  }

  @keyframes arraste {
    from {
      transform: translate3d(40px, 0, 0);
    }

    to {
      transform: translate3d(0, 0, 0);

    }
  }

  .menu-lateral img {
    width: 40px;
    margin: 0 auto;
  }

  .menu-lateral .lista-menu {
    margin: 0 auto;
    display: block;
  }

  .lista-menu ul {
    width: auto;
    display: flex;

  }

  .lista-menu a:hover {
    background: var(--azul-secundario);
  }


  .lista-menu li a {
    margin-bottom: 0;

  }

  .lista-menu li a {
    margin-left: 10px;
    width: auto;
    padding: 15px;
  }

  .lista-menu svg {
    margin-right: 5px;
  }

  .lista-menu svg {
    width: 20px;
    height: 20px;
  }

  .usuario {
    display: block;

  }

  .usuario ul {
    width: auto;
  }

  .usuario li a svg {
    margin-left: 10px;
  }

  /* dash  no grid*/
  .dashboard {
    grid-area: dashboard;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .painel-container {
    width: 100%;
    height: auto;
    margin: 120px auto;
    display: block;
  }

  .titulo h1 {
    font-size: 2rem;
    margin: 20px 5px;
  }

  .botoes {
    height: auto;
    margin: 20px auto;
  }

  .botoes a {
    font-size: 1rem;
  }
}

/* Celular */
@media only screen and (max-width:700px) {


  /* Login */
  .body-login {
    /* overflow: hidden; */
    background: none;
    width: 100vw;
    height: initial;
  }


  .login-container {
    margin: 0;
    padding: 60px 10px;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .login-container .left h1 {
    font-size: 1.5rem;
    color: black;
  }

  .login-container .primeiro-acesso {
    position: static;
    text-align: right;
    display: block;
    width: 100%;
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
  }

  .mensagem-cadastro {
    width: 100%;
    top: 90px;
    left: 0;
  }

  .login-container .esqueceu-senha {
    position: static;
    display: block;
    margin: 10px 0;
    max-width: 100%;
  }

  .login-container .esqueceu-senha:hover {
    color: var(--card-aviso);
  }

  .login-container .right {
    margin: 40px auto;
    width: auto;
  }

  .login-container .right h1 {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 20px;
    width: auto;
  }

  .login-container .right form {
    display: block;
    position: relative;
  }

  .login-container .right form label {
    font-size: 1rem;
    display: block;
  }

  .login-container .right form input {
    width: 100%;
    font-size: 1rem;
  }

  .login-container .right form button {
    display: block;
  }

  /* Esqueceu a senha */

  .esqueceu-senha {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
  }

  .esqueceu-senha h1 {
    font-size: 1.8rem;
  }

  .esqueceu-senha p {
    max-width: 90%;
  }

  .esqueceu-senha form label {
    display: block;
    font-size: 1rem;
  }

  .esqueceu-senha form input {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

  .esqueceu-senha form button {
    width: 50%;
  }

  .link-retorno {
    max-width: 100%;
    margin: 10px 0 20px 0;
  }

  /* Painel Novo */
  .titulo h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .chamada-dashboard {
    top: -60px;
  }

  .painel-container a svg {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
  }

  .botoes {
    display: block;
  }

  .botoes a {
    width: 65%;
    height: 13vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* Cadastro Usuario */
  .dash-container {
    width: 100%;
    overflow: initial;
  }

  .cadastro h1 {
    font-size: 1.5rem;
  }

  .cadastro h1::before {
    width: 30px;
    height: 3px;
  }

  .item-cadastro h2 {
    font-size: 1.25rem;
  }

  .item-cadastro h2::after {
    content: '';
    width: 100%;
    margin: 20px 0;
  }

  .item-cadastro label {
    font-size: 1rem;
  }

  .item-cadastro input,
  .item-cadastro textarea {
    width: auto;
    font-size: 1rem !important;
    margin: 10px auto 20px auto;
  }

  .item-cadastro input.total,
  .item-cadastro input.metade,
  .select-item.metade,
  .endereco-metade {
    width: 100% !important;
    margin-right: 0 !important;
    font-size: 1rem !important;
  }

  .cadastro-flex {
    display: block;
    position: relative;
  }

  .select-item {
    margin-right: 0;
  }


  .regra-senha {
    width: 100%;
    display: flex;
  }

  .btn-cadastro {
    max-width: 100%;
  }

  .breadcrumb-links li {
    font-size: .875rem;
  }

  .historicoProcesso {
    width: 100% !important;
  }

  /* Upload */
  .upload-flex {
    display: block;
    position: relative;
    margin-top: 100px;
  }

  .upload-flex a {
    position: absolute;
    top: -80px;
    right: 0;
  }

  .item-upload {
    grid-template-columns: 1fr;
  }

  .dados-assistido-download {
    display: block;
  }

  /* Detalhes */
  .visualizacao-dados li {
    font-size: .875rem;
    gap: 20px;
  }

  /* Tables */
  .dash-header {
    width: 100%;
  }


  .dash-header input {
    width: 70%;
    font-size: 1rem;
    padding: 16px;
    height: auto;
  }

  .dash-header form .btn-principal {
    margin: 20px 0;
  }

  .dash-header a {
    padding: 15px 40px !important;
  }

  .table-container {
    /* background: silver; */
  }

  .table {
    max-width: 100%;
  }

  th,
  td {
    padding: 10px;
    font-size: .775rem;
  }

  .acoes {
    /* display: block; */
    flex-direction: column;
    align-items: flex-start;
  }

  .acoes a {
    padding: 3px;
    font-size: .675rem;
  }

  .acoes a:nth-child(2) {
    margin: 5px 0 !important;
  }

  .acoes a+a {
    margin-left: 0;
  }

  .modal-container {
    margin-top: 60px;
    width: 95%;
    max-width: 450px;
    padding: 20px;
  }

  /* Estilos gerais */


  .btn-principal,
  a.btn-principal,
  button.btn-principal {
    padding: 18px;
    font-size: .875rem;
  }

  .btn-endereco a {
    padding: 7px !important;
  }

  .btn-editar,
  .btn-endereco a,
  .btn-remover,
  .btn-visualizar {
    padding: 4px;
    font-size: .675rem;
  }

  p {
    font-size: .875rem;
    ;
    line-height: 1.4rem;
  }

  .modal-container {
    margin-top: 180px;
  }

  .modal-title .info-delete .icone {
    font-size: 1.5rem;
  }

  .modal-title .info-delete {
    font-size: 1rem
  }

  .modal-body {
    padding: 20px 0;
  }

  .modal-body p {
    font-size: 1rem;
  }

  .opcional {
    font-size: .875rem
  }

  .breadcrumb-container {
    padding: 10px 0;
  }

  .breadcrumb-links li+li::before {
    margin: 0 10px;
  }

  .gerar-pdf {
    margin-top: 40px;
  }

  /* Novos Dashboard */
  .bem-vindo {
    font-size: 1.3rem;
  }

  .resumo-dashboard .resumo-container {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .resumo-dashboard .resumo-container .resumo-item {
    border-right: none;
  }

  /* Proximas audiencias */
  .detalhes-dash {
    grid-template-columns: 1fr;
    overflow: initial;
  }

  .vencendo-prazo {
    padding-right: 0;
  }

  .data-hoje {
    font-size: 1.5rem;
  }

  .total-prazos {
    margin-bottom: 60px;
  }

}